<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

</head>
<body>

    <h1>I am here - Yo</h1>

    Search for words <input data-bind="value: search" />
    <button data-bind="click: getSearch">Click me</button>
    <button data-bind="click: getWeightedSearch.bind($parent, null)">Weights</button>

    <div data-bind="visible: showWordCloud">
        <h2>Word Cloud</h2>
        <div id="cloud" style="height : 300px; width : 300px;"></div>
    </div>


    <div data-bind="visible: showWeightedList">
        <h2>Posts with weights</h2>
        <table>
            <tbody data-bind="foreach: weightedWords">
                <tr>
                    <td data-bind="text: $data.title"></td>
                    <td data-bind="text: $data.weight"></td>
                    <td><button data-bind="click: $parent.getPost.bind($parent, $data.link)">link</button></td>
                </tr>
            </tbody>
        </table>

       <button data-bind="visible: showPrev, click: getPrev">prev</button><button data-bind="visible: showNext, click: getNext">next</button>

        <div data-bind="visible: showPost">
            <h2>Question</h2>

            <div data-bind="text: post"></div>
        </div>


    </div>

</body>
</html>