<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

</head>
<body>

    <h1>I am here - Yo</h1>

    Search for words <input data-bind ="text: search" /> 
    <button onclick="myFunction()">Click me</button>

    <div id="cloud"></div>

    <div data-bind="text: myCloud"></div>

    <script type = "text/javascript">
        function myFunction() {
            console.log("!!");
            //document.getElementById("cloud").innerHTML = "!!";
        }
    </script>
</body>
</html>