<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Users</h1>
            <p>Welcome to our project. Below you will find all the information you need about the users. Have fun!</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-6">
                        <h5><strong>Overview</strong></h5>
                    </div>
                </div>

                <div class="separator"></div>

                <div class="col-auto mr-auto">
                    <form class="form-inline my-2 my-lg-0">
                        <input data-bind='value: username' class="form-control mr-sm-2" type="search" placeholder="Insert name" />
                        <button data-bind="click: getUserByName" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>

                <br>

                <div data-toggle="collapse" data-parent="#postsaccordion" href="#postsaccordion1" aria-expanded="true" aria-controls="postsaccordion1">
                    <table class="table table-hover">
                        <tbody data-bind="foreach: links">
                            <tr>
                                <td data-bind="text: $data.name"></td>
                                <td></td>
                                <td><button class="btn btn-outline-success my-2 my-sm-0" data-bind="click: $parent.getUserId.bind($parent, $data.link)">Show User</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <nav>
                    <ul class="pagination justify-content-center">

                        <li class="page-item">
                            <a data-bind="click: getLinks()" class="page-link" href="#" tabindex="-1">First Page</a>
                        </li>

                        <li class="page-item">
                            <a data-bind="visible: showPrev, click: getPrev" class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>

                        <li class="page-item">
                            <a data-bind="visible: showNext, click: getNext" class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-6">

                <div class="row">
                    <div class="col-6">
                        <h5><strong>Selected user</strong></h5>
                    </div>
                </div>

                <div data-bind="text: specificUserName" id="data"></div>
                <div data-bind="text: specificUserAge" id="data"></div>
                <div data-bind="text: specificUserLocation" id="data"></div>
                <div data-bind="text: specificUserCreation" id="data"></div>

                <div class="separator"></div>

                <input data-bind='value: createdSearch' class="form-control mr-sm-2" type="search" placeholder="Save a search" />
                <button data-bind="click: createHistory" class="btn btn-outline-success my-2 my-sm-0" type="submit">Save a search word</button>

                <div class="separator"></div>

                <input data-bind='value: savedPostId' class="form-control mr-sm-2" type="search" placeholder="Post Id" />
                <input data-bind='value: savedNote' class="form-control mr-sm-2" type="search" placeholder="Add a note (optional)" />
                <button data-bind="click: createMarking" class="btn btn-outline-success my-2 my-sm-0" type="submit">Save a post</button>

                <div data-toggle="collapse" data-parent="#postsaccordion" href="#postsaccordion1" aria-expanded="true" aria-controls="postsaccordion1">
                    <table class="table table-hover">
                        <tbody data-bind="foreach: specificUserMarkings">
                            <tr>
                                <td data-bind="text: $data.postId"></td>
                                <td></td>
                                <td data-bind="text: $data.note"></td>
                                <td><button data-bind="click: $parent.deleteMarking.bind($parent, $data.postId)">Delete</button></td>
                                <td><input data-bind='value: $parent.note' class="form-control mr-sm-2" type="search" placeholder="Update Note" /><button data-bind="click: $parent.updateMarking.bind($parent, $data.postId)">Update Note</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div data-toggle="collapse" data-parent="#postsaccordion" href="#postsaccordion1" aria-expanded="true" aria-controls="postsaccordion1">
                    <table class="table table-hover">
                        <tbody data-bind="foreach: specificUserHistory">
                            <tr>
                                <td data-bind="text: $data.id"></td>
                                <td></td>
                                <td data-bind="text: $data.searchWord"></td>
                                <td><button data-bind="click: $parent.deleteHistory.bind($parent, $data.id)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="separator"></div>

                <button class="btn btn-outline-success my-2 my-sm-0" data-bind="click: getUserMarkings">Show marking</button>
                <button class="btn btn-outline-success my-2 my-sm-0" data-bind="click: getUserHistory">Show history</button>

            </div>
        </div>
    </div>
</body>
</html>