<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Users</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-auto">
            <form class="form-inline my-2 my-lg-0">
                
                <input data-bind='value: username' class="form-control mr-sm-2" type="search" placeholder="Insert words"/>
                <button data-bind="click: getUserByName" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search for a user</button>
            </form>
        </div>
        <p></p>
        <div class="col-4 mr-auto">
            <p></p>
            <h5><strong>Users</strong></h5>
        </div>
    </div>
    <br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col"></th>
                <th scope="col">Link</th>
            </tr>
        </thead>
    </table>

    <div data-toggle="collapse" data-parent="#postsaccordion" href="#postsaccordion1" aria-expanded="true" aria-controls="postsaccordion1">
        <table class="table table-hover">
            <tbody data-bind="foreach: links">
                <tr>
                    <td data-bind="text: $data.name"></td>
                    <td></td>
                    <td><button data-bind="click: $parent.getUserId.bind($parent, $data.link)">Show User</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination justify-content-center">

            <li class="page-item">
                <a data-bind="click: getLinks()" class="page-link" href="#" tabindex="-1">First Page</a>
            </li>

            <li class="page-item">
                <a data-bind="visible: showPrev, click: getPrev" class="page-link" href="#" tabindex="-1">Previous</a>
            </li>

            <li class="page-item">
                <a data-bind="visible: showNext, click: getNext" class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

    <div data-bind="visible: showUser">
        <h2> User</h2>
        <div class="card card-body">
            <p></p>
            <div data-bind="text: specificUserName" id="data">adsaa</div>
            <p></p>
            <div data-bind="text: specificUserAge" id="data">adsaa</div>
            <p></p>
            <div data-bind="text: specificUserLocation" id="data">adsaa</div>
            <p></p>
            <div data-bind="text: specificUserCreation" id="data">adsaa</div>
           
            <div data-toggle="collapse" data-parent="#postsaccordion" href="#postsaccordion1" aria-expanded="true" aria-controls="postsaccordion1">
                <h3> User history</h3> 
                <button data-bind="click: getUserHistory" class="btn btn-outline-success my-2 my-sm-0">Show</button>
                <table class="table table-hover">
                    <tbody data-bind="foreach: specificUserHistory">
                        <tr>
                            <td data-bind="text: $data.id"></td>
                            <td></td>
                            <td data-bind="text: $data.searchWord"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div data-toggle="collapse" data-parent="#postsaccordion" href="#postsaccordion1" aria-expanded="true" aria-controls="postsaccordion1">
                <h3>User Markings</h3> 
                <button data-bind="click: getUserMarkings" class="btn btn-outline-success my-2 my-sm-0">Show</button>
                <table class="table table-hover">
                    <tbody data-bind="foreach: specificUserMarkings">
                        <tr>
                            <td data-bind="text: $data.postId"></td>
                            <td></td>
                            <td data-bind="text: $data.note"></td>
                            <!-- her delete funktion -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> 
</body>
</html>